<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      maxlength="15"
      [formControl]="name"
      type="text"
      placeholder="Enter account name"
    ></ion-input>
    <ion-button (click)="saveUser()" slot="end">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <div *ngIf="!hasData">
    <ion-card *ngFor="let item of final let i= index">
      <ion-item button>
        <ion-label>
          <div
            (click)="gotToAccount(item.id)"
            [style.background-color]="item.color"
            class="circle"
          >
            <p>{{item.name.charAt(0) | uppercase}}</p>
          </div>
        </ion-label>
        <ion-label>
          <h2>{{item.name | titlecase }}</h2>
          <!-- <p>user</p> -->
        </ion-label>
        <ion-button (click)="downloadPdf(item.id)" color="primary" slot="end">
          <ion-icon name="document-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="deleteUser(item.id)" color="danger" slot="end">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="hasData" class="card">
    <span>No user added</span>
    <ion-card-subtitle
      >Please use the <strong> + button</strong> to add new
      user</ion-card-subtitle
    >
  </div>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label position="floating">User name</ion-label>
    <ion-input maxlength="15" [formControl]="name"></ion-input>
    <ion-button (click)="saveUser()" slot="end">
      <ion-icon icon-only clear slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  <div id="">
    <ion-card *ngFor="let item of final">
      <ion-list>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-icon color="primary" name="person-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <div class="align">
              <h2 class="ion-text-start">{{item.name}}</h2>
            </div>
            <!-- <p>Balance: {{item.amount}}</p>
          </ion-label>
          <ion-icon
            (click)="deleteUser(item.id)"
            name="trash-outline"
            color="danger"
          ></ion-icon>
          <ion-icon
            (click)="gotToAccount(item.id)"
            name="chevron-forward-outline"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <!-- <ul>
      <li routerLink="/details">detalles</li>
      <li routerLink="/form-account">Formulario</li>
    </ul>
  </div>
</ion-content>  -->
