#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ion-toolbar {
  padding: 0.5rem !important;
}
.circle {
  // background: red;
  width: 40px;
  height: 40px;
  border: 5;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
ion-button {
  --background: #4c56c0;
}
ion-content {
  --background: #f2f2f2;
}
.card {
  width: 20rem;
  height: 15rem;
  background: white;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 10rem;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  border-radius: 6px;
  color: white;
  background: #4c56c0;
}
ion-card-subtitle {
  --color: #f2f2f2;
}
